build/includes/_header.html
<!-- Header-->
<header class="header">
  <div class="container">
    <div class="col">
      <select>#.header-select(name="")
        <option value="">Москва</option>
        <option value="">Санкт-Петербург</option>
        <option value="">Новосибирск</option>
        <option value="">Екатеринбург</option>
        <option value="">Казань</option>
        <option value="">Самара</option>
      </select>
    </div>
    <div class="col">
      <h1 class="header-title c">Taxi Calc</h1> </div>
    <div class="col">
      <div class="header-widget">
        <div class="header-widget__road"> <span class="header-widget__road-title">2 балла</span></div>
        <div class="header-widget__weather"><img src="https://yandex.st/weather/v-1/i/icons/24x24/bkn_d.png" alt="" /><span>&nbsp; 0 <sup>o</sup>C</span></div>
      </div>
    </div>
  </div>
</header>

src/jade/includes/_header.jade
// Header
header.header
  .container
    .col
      //- img(src="http://placehold.it/165x40", alt="")
      select#.header-select(name="")
        option(value="") Москва
        option(value="") Санкт-Петербург
        option(value="") Новосибирск
        option(value="") Екатеринбург
        option(value="") Казань
        option(value="") Самара
    .col
      h1.header-title.c Taxi Calc
    .col
      //- img.r(src="http://placehold.it/250x40", alt="")
      .header-widget
        .header-widget__road 
          span.header-widget__road-title 2 балла
        .header-widget__weather
          img(src="https://yandex.st/weather/v-1/i/icons/24x24/bkn_d.png", alt="")
          span &nbsp; 0 <sup>o</sup>C
    
    
    
