src/jade/includes/_social.jade
.social
  .container 
    .social-list
      .social-titles.social-titles--vk.c.tab-one.active
        a(href="#vk").tabs__link.tabs__link--active
          img(src="img/social/vk.png", alt="")
      .social-titles.social-titles--ig.c.tab-two
        a(href="#ig").tabs__link
          img(src="img/social/ig.png", alt="")
      .social-titles.social-titles--fb.c.tab-three
        a(href="#fb").tabs__link
          img(src="img/social/fb.png", alt="")

    .social-tabs
      .social-tabs--vk.tabs__section#vk
        //- p.c vk social widgets
        .social-tabs__area
          #vk_groups
          script(type='text/javascript').
            VK.Widgets.Group("vk_groups", {mode: 2, width: "300", height: "300"}, 91137769);
        .social-tabs__area
          #vk_groups1
          script(type='text/javascript').
            VK.Widgets.Group("vk_groups1", {mode: 2, width: "300", height: "300"}, 99946133);
        .social-tabs__area
          #vk_groups2
          script(type='text/javascript').
            VK.Widgets.Group("vk_groups2", {mode: 2, width: "300", height: "300"},  35112230);

      .social-tabs--ig.tabs__section#ig
        p.c insta social widgets
        .social-tabs__area
          img(src="http://placehold.it/302x302", alt="")
        .social-tabs__area
          img(src="http://placehold.it/302x302", alt="")
        .social-tabs__area
          img(src="http://placehold.it/302x302", alt="")

      .social-tabs--fb.tabs__section#fb
        //- p.c facebook social widgets
        .social-tabs__area
          .fb-page(data-href='https://www.facebook.com/uber', data-tabs='timeline', data-width='300', data-height='300', data-small-header='true', data-adapt-container-width='true', data-hide-cover='false', data-show-facepile='false')
        .social-tabs__area
          .fb-page(data-href='https://www.facebook.com/yandextaxi', data-tabs='timeline', data-width='300', data-height='300', data-small-header='true', data-adapt-container-width='true', data-hide-cover='false', data-show-facepile='false')
        .social-tabs__area
          .fb-page(data-href='https://www.facebook.com/gett', data-tabs='timeline', data-width='300', data-height='300', data-small-header='true', data-adapt-container-width='true', data-hide-cover='false', data-show-facepile='false')

build/includes/_social.html
<div class="social">
  <div class="container">
    <div class="social-list">
      <div class="social-titles social-titles--vk c tab-one active">
        <a href="#vk" class="tabs__link tabs__link--active"><img src="img/social/vk.png" alt="" /></a>
      </div>
      <div class="social-titles social-titles--ig c tab-two">
        <a href="#ig" class="tabs__link"><img src="img/social/ig.png" alt="" /></a>
      </div>
      <div class="social-titles social-titles--fb c tab-three">
        <a href="#fb" class="tabs__link"><img src="img/social/fb.png" alt="" /></a>
      </div>
    </div>
    <div class="social-tabs">
      <div id="vk" class="social-tabs--vk tabs__section">
        <div class="social-tabs__area">
          <div id="vk_groups"></div>
          <script type="text/javascript">
            VK.Widgets.Group("vk_groups",
            {
              mode: 2,
              width: "300",
              height: "300"
            }, 91137769);
          </script>
        </div>
        <div class="social-tabs__area">
          <div id="vk_groups1"></div>
          <script type="text/javascript">
            VK.Widgets.Group("vk_groups1",
            {
              mode: 2,
              width: "300",
              height: "300"
            }, 99946133);
          </script>
        </div>
        <div class="social-tabs__area">
          <div id="vk_groups2"></div>
          <script type="text/javascript">
            VK.Widgets.Group("vk_groups2",
            {
              mode: 2,
              width: "300",
              height: "300"
            }, 35112230);
          </script>
        </div>
      </div>
      <div id="ig" class="social-tabs--ig tabs__section">
        <p class="c">insta social widgets</p>
        <div class="social-tabs__area"><img src="http://placehold.it/302x302" alt="" /></div>
        <div class="social-tabs__area"><img src="http://placehold.it/302x302" alt="" /></div>
        <div class="social-tabs__area"><img src="http://placehold.it/302x302" alt="" /></div>
      </div>
      <div id="fb" class="social-tabs--fb tabs__section">
        <div class="social-tabs__area">
          <div data-href="https://www.facebook.com/uber" data-tabs="timeline" data-width="300" data-height="300" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false" class="fb-page"></div>
        </div>
        <div class="social-tabs__area">
          <div data-href="https://www.facebook.com/yandextaxi" data-tabs="timeline" data-width="300" data-height="300" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false" class="fb-page"></div>
        </div>
        <div class="social-tabs__area">
          <div data-href="https://www.facebook.com/gett" data-tabs="timeline" data-width="300" data-height="300" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false" class="fb-page"></div>
        </div>
      </div>
    </div>
  </div>
</div>
