build/includes/partners.html
<div class="partners">
  <div class="partners-list"><img src="img/partners/u.png" alt="" height="65" class="partners-logo" /><img src="img/partners/y.png" alt="" height="50" class="partners-logo" /><img src="img/partners/g.png" alt="" height="75" class="partners-logo" /></div>
</div>

src/jade/includes/partners.jade
.partners
  .partners-list
    img.partners-logo(src="img/partners/u.png", alt="" height="65")
    img.partners-logo(src="img/partners/y.png", alt="" height="50")
    img.partners-logo(src="img/partners/g.png", alt="" height="75")
